name: coverage

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dependencies
        run: yarn install
      - name: Run tests and collect coverage
        run: yarn run test:coverage
      - name: Upload report to Codecov
        uses: codecov/codecov-action@v1
        with:
          name: codecov-umbrella
          directory: coverage
          fail_ci_if_error: true